.footer {
  width: 100%;
  background-color: black;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: white;
  margin: 0px;
  padding: 0px;
}
img {
  height: 100px;
  width: 90px;
}
